/* stylelint-disable custom-property-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --palette-bg: #222336;
  --palette-text: rgb(21, 26, 38);
  color-scheme: light;
}

[data-theme="dark"] {
  --palette-bg: rgb(21, 26, 38);
  --palette-text: #fff;
  color-scheme: dark;
}

[data-theme="light"] {
  --palette-bg: #fff;
  --palette-text: rgb(21, 26, 38);
  color-scheme: light;
}

body {
  background-color: var(--palette-bg);
  color: var(--palette-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html .font-robotoMono {
  font-family: var(--font-roboto-mono);
}

html .font-inter {
  font-family: var(--font-inter);
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--palette-bg-black);
  color: var(--palette-bg-white);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: underline;
}

svg {
  display: block;
  overflow: visible;
  vertical-align: middle;
}

ul {
  padding-inline-start: 0;
}

/* stylelint-disable-next-line */
#__next {
  position: relative;
  z-index: 0;
}

.ockConnectWallet_Container span {
  color: #030712;
}

/* i believe this is necessary because 
of a div added by rainbowkit provider */
body > div {
  height: 100%;
}

a {
  text-decoration: none;
}

.templateSection > div {
  max-width: 100%;;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}
